@import "./foundation/_color";
@import "./foundation/_space";

.c-menu{
	width:80%;
	height:50px;
	padding-top:$space-m;
	margin:0 auto;
	&__all{
		width:100%;
		height:100%;
		align-items: center;
		justify-content: space-between;
	}
	&__title{
		float: left;
		width:calc(12% - #{$space-s});
		margin-left:$space-xs;
		margin-right:$space-xs;
		text-align: center;
	}
	&__link:hover{
		border-bottom: 2px solid $point-orange;
	}
	&.active{
		border-bottom: 2px solid $point-orange;
	}
}

