.p-access{
	width:100%;
	height:650px;
	margin-top: $space-xs;
	background-color: $sub-green;
	&__map{
		width:80%;
		height:500px;
		margin:0 auto;
		margin-top:$space-xs;
	}
	&__company{
		width:80%;
		margin:0 auto;
		margin-top:$space-m;
		line-height: 20px;
	}
	&__address{
		width:80%;
		margin:0 auto;
		margin-top:$space-xxs;
		font-size: $font-m;
		line-height: 20px;
	}
}

//地図の大きさ
iframe{
	width:100%;
	margin-top:$space-m;
}