.p-access{
	width:100%;
	height:600px;
	margin-top: $space-xs;
	background-color: $sub-green;
	&__map{
		width:80%;
		height:500px;
		margin:0 auto;
		margin-top:$space-xs;
	}
	&__company{
		width:80%;
		margin:0 auto;
		line-height: 20px;
	}
	&__address{
		width:80%;
		margin:0 auto;
		margin-top:5px;
		font-size: 13px;
		line-height: 20px;
	}
}